header .main-navbar .nav-menu > li:hover a, header .main-navbar .nav-menu > li.active a, header .main-navbar .nav-menu > li.current-menu-item a {
  color: var(--theme-color);
}

header .main-navbar .nav-menu > li.personal-style-item img {
  height: 20px;
  margin-right: 5px;
}
