.style-modal {
    .modal-body {
        padding-bottom: 90px;
        .modal-header {
            position: relative;
            justify-content: center;
            justify-items: center;
            .btn-close {
                position: absolute;
                top: 0;
                right: 0;
                border: none;
                outline: none;
                color: #232323;
                width: 24px;
                height: 24px;
                line-height: 24px;
                &:focus {
                    border: none;
                    outline: none;
                }
            }
            .modal-title {
                margin-top: 20px;
                text-align: center;
                font-size: 20px;
                line-height: 24px;
            }
        }
        .description {
            margin-top: 20px;
            margin-bottom: 40px;
            font-size: 14px;
            line-height: 20px;

            p {
                text-align: center;
                margin-bottom: 0;
            }
        }
        .form-section {
            margin-top: 45px;
            display: none;
            &.active {
                display: block;
            }
            &.step-one {

                h3 {
                    margin-top: 30px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    /* or 133% */
    
                    text-align: center;
    
                    color: #000000;
                }
                p.desc {
                    margin-top: 10px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    /* or 150% */
    
                    text-align: center;
    
                    color: #878787;
                }
                .input-group {
                    input {
                        margin-right: 15px;
                    }
                }
            }
            .option-item {
                text-align: center;
                label {
                    display: block;
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;
                    .thumbnail {
                        padding: 16px;
                        border: 1px solid #cecece;
                        border-radius: 4px;
                        &:hover {
                            border: 1px solid #ad213a;
                        }
                        img {
                            max-width: 100%;
                        }
                    }
                    input[type="radio"] {
                        position: absolute;
                        opacity: 0;
                        top: -100px;
                        left: -100px;
                        &:checked + .thumbnail {
                            border: 1px solid #ad213a;
                        }
                    }
                }
            }
            .input-group {
                margin-top: 35px;
                input {
                    margin-right: 15px;
                }
                button {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
            &.step-two {

                .form-group {
                    margin-top: 20px;
                    h3.title {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 48px;
                        color: #000000;
                        text-align: left;
                        margin-top: 30px;

                    }
                    .col-input{
                        label{
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #000000;
                        }
                    }
                }
            }
        }
    }
}

.body-shape-groups {
    position: relative;
    overflow: hidden;
    .body-shape-sliders {
        width: 130%;

    }
    .body-shape-item {
        position: relative;
        .empty {
            opacity: 0;
        }
        img {
            max-width: 100%;
        }
        label {
            display: block;
            // padding: 10px;
            position: relative;
            overflow: hidden;
            .item-info {
                border: 1px solid #cecece;
                border-radius: 4px;
                padding: 4px;
                .flexable {
                    .thumbnail {
                        width: 60px;
                        img {
                            width: 56px;
                            height: 56px;
                            object-fit: cover;
                        }
                    }
                    .name {
                        width: calc(100% - 60px);
                        padding-left: 12px;
                        h4{
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
            }
            input[type="radio"] {
                width: 1px;
                height: 1px;
                opacity: 0;
                position: absolute;
                &:checked + .item-info {
                    border: 1px solid #ad213a;
                }
            }
        }
    }
}

.sample-style-groups{
    position: relative;
    overflow: hidden;
    .sample-item {
        position: relative;
        // overflow: hidden;
        padding-bottom: 10px;
        margin-bottom: 15px;
        cursor: pointer;
        .img-ratio {
            position: relative;
            cursor: pointer;
            border: 1px solid #cecece;
            border-radius: 4px;
            &:hover {
                border: 1px solid #ad213a;
            }
            padding: 4px;
        }
        .ratio {
            width: 100%;
            display: block;
            cursor: pointer;
            &::after {
                content: " ";
                display: table-cell;
                clear: both;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4px;
            cursor: pointer;
        }

        label {
            display: block;
            position: relative;
            box-sizing: border-box;

            overflow: hidden;
            border-radius: 4px;
            h3{
                font-size: 18px;
                margin-top: 12px;
                // padding: 12px;
            }
        }
        input[type="radio"] {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            &:checked {
                + label {
                    // box-shadow: 0px 8px 12px rgba(83, 0, 0, 0.06);
                    .checked {
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 1;
                        border: 4px solid var(--theme-color);
                    }
                    .img-ratio{
                        border: 1px solid #ad213a;
                    }
                    h3{
                        color: #ad213a;
                    }
                }
            }
        }
    }

    .sample-item-slides{
        &.is-desktop{
            max-height: 724px;
            overflow-y: auto;
            
        }
        .slides{
            width: 150%;
        }
    }

}


@media screen and(min-width: 576px) {
    .style-modal {
        .modal-dialog {
            max-width: 100%;
            padding-left: 100px;
            padding-right: 100px;
        }
    }
    .body-shape-groups {
        .body-shape-sliders {
            width: 120%;
        }
    }
    .sample-style-groups{
        .sample-item-slides{
            .slides{
                width: 148%;
            }
        }
    }
    
}

@media screen and(min-width: 700px) {
    .style-modal {
        .modal-dialog {
            max-width: 100%;
            padding-left: 100px;
            padding-right: 100px;
        }
    }
    .body-shape-groups {
        .body-shape-sliders {
            width: 120%;
        }
    }
    .sample-style-groups{
        .sample-item-slides{
            .slides{
                width: 128%;
            }
        }
    }
    
}

@media screen and(min-width: 992px) {
    .style-modal {
        .modal-dialog {
            max-width: 800px;
            padding-left: 0;
            padding-right: 0;
        }
        .modal-body {
            .description,
            .form-section {
                padding-left: 60px;
                padding-right: 60px;
                font-size: 14px;
                line-height: 20px;
            }

            .form-section {
                .row.g-42 {
                    margin-left: -42px;
                    margin-right: -42px;
                    .col-sm-6 {
                        padding-left: 42px;
                        padding-right: 42px;
                    }
                }
                .option-item {
                    text-align: center;
                }
                h3 {
                    font-size: 18px;
                    line-height: 24px;
                }
                p.desc {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
    .body-shape-groups {
        .body-shape-sliders {
            width: 118%;
        }
    }
    .sample-style-groups{
        .sample-item-slides{
            width: 124%;
        }
    }
    
}
@media screen and(min-width: 1200px) {
    .style-modal {
        .modal-dialog {
            max-width: 1140px;
        }

        .modal-body {
            .description,
            .form-section {
                padding-left: 140px;
                padding-right: 140px;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}
@media screen and(min-width: 1400px) {
    .style-modal {
        .modal-body {
            .description,
            .form-section {
                padding-left: 150px;
                padding-right: 150px;
            }
        }
    }
}

.rangeslider,
.rangeslider__fill {
    display: block;
    border-radius: 10px;
}

.rangeslider {
    position: relative;
}
.rangeslider:after {
    top: 50%;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 5px;
    margin-top: -2.5px;
    border-radius: 5px;
    position: absolute;
    background: #e6e6e6;
}

.rangeslider--horizontal {
    width: 100%;
    height: 28px;
}

.rangeslider--vertical {
    width: 5px;
    min-height: 150px;
    max-height: 100%;
}
.rangeslider--disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
}

.rangeslider__fill {
    position: absolute;
    background: #ad213a;
}
.rangeslider--horizontal .rangeslider__fill {
    top: 0;
    height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
    bottom: 0;
    width: 100%;
}

.rangeslider__handle {
    top: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: -10px;
    background: white;
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    background: #ffffff;
    border: 1px solid #ebebeb;
    box-shadow: 0px 4px 4px rgba(71, 1, 1, 0.19);
}
.rangeslider__handle:active {
    background: #f1e5e7;
}

.rangeslider__fill,
.rangeslider__handle {
    z-index: 1;
}
.rangeslider--horizontal .rangeslider__fill {
    top: 50%;
    height: 5px;
    margin-top: -2.5px;
}
