.module-table .m-checkbox, .module-table .m-radio {
  padding-left: 18px;
}

.module-table table thead th * {
  font-weight: 600;
}

.module-table .check-col span, .module-table .module-name span, .module-table .module-description span {
  margin-bottom: 10px;
  display: block;
}
