.criteria-list .criteria-item {
  padding: 10px 15px 10px 0;
  cursor: pointer;
}

.criteria-list .criteria-item:hover {
  background-color: #e6e6e6;
}

.criteria-list .criteria-item .inner-box {
  line-height: 1.4;
}

.criteria-list .criteria-item .criteria-tag {
  background: #36bb18;
  color: #fff;
  margin: 0 5px 0 0;
  padding: 3px 6px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .criteria-list {
    margin-left: -15px;
  }
  .criteria-list .criteria-item {
    padding-left: 15px;
  }
}
