@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(Open+Sans_400_normal.eot); 
    src: local('☺'),
        url(Open+Sans_400_normal.eot?#iefix) format('embedded-opentype'),
        url(Open+Sans_400_normal.woff2) format('woff2'),
        url(Open+Sans_400_normal.woff) format('woff'),
        url(Open+Sans_400_normal.ttf) format('truetype'),
        url(Open+Sans_400_normal.svg#Open+Sans_400_normal) format('svg');
} */
