.chat_form {
    border-radius: 20px;
    margin-right: 0px;
    background: #ffffff;
    border: 1px solid #f4eeff;
    box-shadow: 0px 4px 4px #f5f8ff;
    border-radius: 37px;
    min-height: 48px;
    max-height: 60vh;
    width: 100%;
    padding: 10px 100px;
    padding-left: 25px;
    height: auto;
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    -ms-border-radius: 37px;
    -o-border-radius: 37px;
}
.chat_form {
    .form-control {
        background: #ffffff;
        border: none;
        min-height: 18px;
        height: auto;
        // max-height: calc(60vh - 24px);
        padding: 0px 0;
        box-sizing: border-box;
        padding-top: 3px;
        &:empty::before {
            content: attr(placeholder);
            color: #989898;
            font-size: 14px;
        }
        &.scroll-height {
            overflow-y: auto;
            max-height: calc(60vh - 24px);
        }
    }
}
.message-wrapper {
    .prompt-label {
        float: left;
        margin-left: -14px;
        margin-right: 10px;
        margin-top: 1px;
        padding: 4px 8px;
        display: flex;
        align-items: center;
        align-content: center;
        background-color: #eeeeee;
        color: #5a078b;
        font-size: 10px;
        z-index: 100;
        position: relative;
        //padding: 4px 20px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
    .prompt-label {
        a {
            font-size: 8px;
            color: #000;
            text-decoration: none;
            margin-left: 6px;
        }
        & + .form-control {
            &:focus {
                &::before {
                    // padding-left: 2px;

                    animation: chat-writter 1s infinite;
                    -webkit-animation: chat-writter 1s infinite;
                    -moz-animation: chat-writter 1s infinite;
                    -o-animation: chat-writter 1s infinite;
                }
            }
        }
    }
}

.chat-message-form {
    position: relative;
}

@keyframes chat-writter {
    0% {
        border-left: 1px solid #989898;
    }
    50% {
        border-left: 2px solid transparent;
    }
    100% {
        border-left: 2px solid transparent;
    }
}

@-webkit-keyframes chat-writter {
    0% {
        border-left: 1px solid #989898;
    }
    50% {
        border-left: 2px solid transparent;
    }
    100% {
        border-left: 2px solid transparent;
    }
}

@-moz-keyframes chat-writter {
    0% {
        border-left: 1px solid #989898;
    }
    50% {
        border-left: 2px solid transparent;
    }
    100% {
        border-left: 2px solid transparent;
    }
}

@-o-keyframes chat-writter {
    0% {
        border-left: 1px solid #989898;
    }
    50% {
        border-left: 2px solid transparent;
    }
    100% {
        border-left: 2px solid transparent;
    }
}
