.bonus-info .bonus-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.bonus-info .bonus-header .title {
  cursor: pointer;
  padding: 10px 20px;
}

.bonus-info .bonus-header .title i {
  position: relative;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.bonus-info .buttons,
.bonus-info .bonus-body {
  display: none;
}

.bonus-info.show .buttons,
.bonus-info.show .bonus-body {
  display: block;
}

.bonus-info.show .bonus-header .title i {
  transform: relative(180deg);
  -webkit-transform: relative(180deg);
  -moz-transform: relative(180deg);
  -ms-transform: relative(180deg);
  -o-transform: relative(180deg);
}
